# python cacahe
*.pyc

# downloaded dataset
code/fakenewsnet_dataset/
exported/

# downloading log
*.log

# Twitter secret key
code/resources/tweet_keys_file.json

# ignore setting files from VS Code
.vscode/